.grid {
  display: grid;
  padding: 5px;  
  margin: 0;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 120px 40px 75px 750px auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "link link"
    "imageport details"
    "footer footer"

}

body {
  margin: 0;
  text-align: center;  
}

.header {
  display: grid;
  grid-area: header;
  margin-bottom: 10px;
  width: 100%;   
  min-height: 70px;
  padding: 0;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:    
    "hname"
    "hsubname"
}

.hname {
    grid-area: hname;
    justify-self: center;  
    font-size: 44px;    
    max-width: 250px;
    border-bottom: 1px solid black;
}

.hsubname {   
  grid-area: hsubname;
  font-size: 20px;
  font-family: arial;
}

.nav, .link, .footer {
  justify-content: left;
}

.nav {
  grid-area: nav;
  color: white; 
  background: #262e3a;
  font-family: arial;
  font-size: 15px;  
  font-weight: 525;
  padding: 7px;
  margin-top: 10px;  
  text-transform: uppercase;
  display: grid;
  column-gap: 25px;
  grid-template-columns: repeat(10, auto); 
}

.link {
  grid-area: link;
  margin-top: 10px;
  font-family: arial;
  color: grey;
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(5, auto)

}

.imageport {
    display: grid;
    grid-area: imageport;           
    padding: 0; 
    justify-self: center;   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "largeimage"
        "smallimage"
}

.largeimage {
    grid-area: largeimage;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "hero"
}

.hero {
  grid-area: hero;
  width: auto;
  height: auto;
  justify-self: center;
  
  
  
}

.smallimage {
    grid-area: smallimage;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr auto auto auto auto 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
      ". icona iconb iconc icond ."
}

.icona, .iconb, .iconc, .icond {
  
} 



.icona {
  grid-area: icona;
}
.iconb {
  grid-area: iconb;
}
.iconc {
  grid-area: iconc;
}
.icond {
  grid-area: icond;
}

.footer {
  grid-area: footer;
}