.grid {
  display: grid;
  padding: 5px;
  margin: 0;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 120px 40px 40px auto 50px;
  grid-template-areas:
    "header header"
    "nav nav"
    "link link"
    "imageport details"
    "footer footer"

}

body {
  margin: 0;
  text-align: center;  
}

.header {
  display: grid;
  grid-area: header;
  margin-bottom: 10px;     
  min-height: 70px;
  padding: 0;
  align-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:    
    "hname"
    "hsubname"
}

.hname {
    grid-area: hname;
    justify-self: center;  
    font-size: 44px;    
    max-width: 250px;
    border-bottom: 1px solid black;
}

.hsubname {   
  grid-area: hsubname;
  font-size: 20px;
  font-family: Lato, Arial;
}

.link {
  justify-content: left;
  
}

.nav {
  grid-area: nav;
  color: white;  
  font-family: Flama, Arial;
  font-size: 13px;  
  font-weight: 500;
  padding: 7px;
  margin-top: 5px;

  text-transform: uppercase;
  display: grid;  
  grid-template-columns: repeat(11, auto);
  grid-template-rows: 32px;
  grid-template-areas: 
    "navi1 navi2 navi3 navi4 navi5 navi6 navi7 navi8 navi9 navi10 home"

}

.navi1, .navi2, .navi3, .navi4, .navi5, .navi6, .navi7, .navi8, .navi9, .navi10 {
  background: #262e3a;
  padding-top: 9px;

}

.navi1 {
  grid-area: navi1;
}
.navi2 {
  grid-area: navi2;
}
.navi3 {
  grid-area: navi3;
}
.navi4 {
  grid-area: navi4;
}
.navi5 {
  grid-area: navi5;
}
.navi6 {
  grid-area: navi6;
}
.navi7 {
  grid-area: navi7;
}
.navi8 {
  grid-area: navi8;
}
.navi9 {
  grid-area: navi9;
}
.navi10 {
  grid-area: navi10;
}


.home {
  background: #00245e;
  grid-area: home;
  padding-top: 9px;
  margin-left: 2px;
}

.link {
  grid-area: link;
  margin-top: 10px;
  font-family: Flama, Arial;
  font-size: 13px;
  color: grey;
  display: grid;
  column-gap: 15px;
  grid-template-columns: repeat(5, auto);

 
}

.imageport {
    
    grid-area: imageport;           
    padding: 0; 
    justify-self: center;   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "largeimage"
        "smallimage"
}

.box:hover {
  border: 1px solid black;
}

summary:after {
  content: "Collapsed";
}

details[open] summary:after {
  
  content: "Expanded";
  
}


.details {
  grid-area: details;
  padding: 100px;
  text-align: left;
  display: grid;
  padding-top: 1px;
  color: #6e7075;
}

.details p, li {
  font-family: Flama, Arial; 
  font-size: 17px;
}
 
.details input {
  text-align: center;
}


.detailinfo {
  margin-top: 15px;
  padding-bottom: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;   
}

.price {
  font-family: Lato, Arial;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

input {
  width: 55px;
  height: 35px;
}

.addtocart {
  margin-top: 10px;
  width: 150px;
  height: 41px;
}

summary {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.summary2 {
  border-bottom: solid grey 1px;
  border-top: solid grey 1px;
}

.footer {
  grid-area: footer;
  background: #f2f4f7;
  border-top: 1px solid black;
  padding-top: 15px;
  font-family: Lato, Arial;
  font-size: 10px;
  width: 100%;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 1236px) {
  .grid {
    grid-template-columns: 1fr 618px 618px 1fr; 
    grid-template-areas:
      ". header header ."
      ". nav nav ."
      ". link link ."
      ". imageport details ."
      "footer footer footer footer"

  }

}

@media screen and (max-width: 1050px) {
  .grid {

    grid-template-columns: 1fr;
    grid-template-rows: 120px auto 40px auto auto;
    grid-template-areas: 
      "header"
      "nav"
      "link"
      "imageport"
      "details"
      "footer"
  }

  .nav {

  grid-template-rows: repeat(11, auto);
  grid-template-columns: auto;
  grid-template-areas: 
    "navi1"
    "navi2"
    "navi3"
    "navi4"
    "navi5"
    "navi6"
    "navi7"
    "navi8"
    "navi9"
    "navi10"
    "home"
   
  }

  .details {
    padding: 0;
    width: 50%;
  }
  .nav {
    justify-content: center;
    font-size: 24px;
    display: none;

  }
  .home {
    margin-left: 0;
    padding-top: 0;
  }
  .navi1, .navi2, .navi3, .navi4, .navi5, .navi6, .navi7, .navi8, .navi9, .navi10 {
 
  margin-bottom: 2px;
  padding-top: 0;

  }
  .link {
    justify-content: center;
  }

}



.largeimage {
    grid-area: largeimage;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "hero"
}

.hero {
  grid-area: hero;
  width: auto;
  height: auto;
  justify-self: center;
  
  
  
}

.smallimage {
    grid-area: smallimage;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr auto auto auto auto 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
      ". icona iconb iconc icond ."
}

.icona, .iconb, .iconc, .icond {
  
} 



.icona {
  grid-area: icona;
}
.iconb {
  grid-area: iconb;
}
.iconc {
  grid-area: iconc;
}
.icond {
  grid-area: icond;
}

